// Colours
$color-primary: #18c3c3;

$color-light: #fff;
$color-grey: #f1f1f1;
$color-grey-dark: #999;

$color-dark: #1F1F26;

// MQ sizes
$lg : 1200px;
$md : 840px;
$sm : 450px;

// Fonts
$font-header: 'Montserrat', sans-serif;
$font-copy: 'Cardo', serif;

// Font sizes
$font-size-xxxl: u(56px);
$font-size-xxl: u(48px);
$font-size-xl: u(36px);
$font-size-l: u(28px);
$font-size-m: u(18px);
$font-size-s: u(14px);
$font-size-xs: u(12px);
