// Colours
$color-primary: rgb(41, 124, 187);

$color-light: #fff;
$color-grey: #f1f1f1;
$color-grey-dark: #67747c;

$color-dark: #2c3643;

// MQ sizes
$lg : 1200px;
$md : 840px;
$sm : 450px;

// Fonts
$font-header: 'Quattrocento', sans-serif;
$font-copy: 'Quattrocento Sans', serif;

// Font sizes
$font-size-xxxl: u(56px);
$font-size-xxl: u(48px);
$font-size-xl: u(36px);
$font-size-l: u(22px);
$font-size-m: u(16px);
$font-size-s: u(12px);
$font-size-xs: u(10px);
