@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, grunt/dev/sass/partials/globals/_core.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, grunt/dev/sass/partials/globals/_core.scss */
html, body {
  width: 100%;
  overflow-x: hidden;
  color: #222222;
}

/* line 31, grunt/dev/sass/partials/globals/_core.scss */
body {
  background: white;
}

/* line 37, grunt/dev/sass/partials/globals/_core.scss */
.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

/* line 13, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
  border-left: 7px solid #17ad8a;
  padding: 5px 20px;
  width: 100%;
}
@media (min-width: 840px) {
  /* line 13, grunt/dev/sass/partials/globals/_blockquotes.scss */
  blockquote {
    max-width: 60%;
  }
}
/* line 27, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote:before, blockquote:after {
  font-size: 26px;
  font-size: 1.625em;
  line-height: 39px;
  color: #c9c9c9;
  font-family: georgia;
  display: inline;
  line-height: 1px;
  vertical-align: -5px;
}
/* line 38, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote:before {
  content: open-quote;
}
/* line 44, grunt/dev/sass/partials/globals/_blockquotes.scss */
blockquote:after {
  content: close-quote;
}

/* line 27, grunt/dev/sass/partials/globals/_forms.scss */
.btn,
input,
button,
select,
textarea {
  margin-bottom: 10px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 1px solid #c9c9c9;
}
/* line 36, grunt/dev/sass/partials/globals/_forms.scss */
.btn:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* line 50, grunt/dev/sass/partials/globals/_forms.scss */
input[type="text"], select,
textarea,
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {
  display: block;
  width: 100%;
  max-width: 480px;
  padding: 10px;
}

/* line 60, grunt/dev/sass/partials/globals/_forms.scss */
select,
textarea {
  display: block;
}

/* line 67, grunt/dev/sass/partials/globals/_forms.scss */
textarea {
  resize: vertical;
  min-height: 260px;
}

/* line 76, grunt/dev/sass/partials/globals/_forms.scss */
.btn,
button,
input[type="submit"] {
  border: none;
  width: auto;
  padding: 5px 10px;
  background: #2b78c4;
  color: white;
  display: inline-block;
}
/* line 85, grunt/dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  color: white;
  background: #d13e36;
  text-decoration: none;
}
/* line 93, grunt/dev/sass/partials/globals/_forms.scss */
.btn.secondary,
button.secondary,
input[type="submit"].secondary {
  background: #2b78c4;
  color: white;
}
/* line 98, grunt/dev/sass/partials/globals/_forms.scss */
.btn.secondary:hover,
button.secondary:hover,
input[type="submit"].secondary:hover {
  color: white;
  background: #c4c416;
}
/* line 107, grunt/dev/sass/partials/globals/_forms.scss */
.btn:hover,
button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

/* line 1, grunt/dev/sass/partials/globals/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 5, grunt/dev/sass/partials/globals/_grid.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 9, grunt/dev/sass/partials/globals/_grid.scss */
.row:after {
  clear: both;
}

/* line 15, grunt/dev/sass/partials/globals/_grid.scss */
[class^="col-"],
[class*="col-"] {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}

/* line 23, grunt/dev/sass/partials/globals/_grid.scss */
[class^="col-xs-"],
[class*="col-xs-"] {
  float: left;
}

/* line 26, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 29, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 32, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 35, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 38, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 41, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 44, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 47, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 50, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 53, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 56, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 59, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 62, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 65, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 68, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 71, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 74, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 77, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 80, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 83, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 86, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 89, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 92, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 95, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 98, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 101, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 104, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 107, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 110, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 113, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 116, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 119, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 122, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 125, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 128, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 131, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 134, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 137, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 140, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 143, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 146, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 149, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 152, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 155, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 158, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 161, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 164, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 167, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 170, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 173, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 176, grunt/dev/sass/partials/globals/_grid.scss */
.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 450px) {
  /* line 181, grunt/dev/sass/partials/globals/_grid.scss */
  [class^="col-sm-"],
  [class*="col-sm-"] {
    float: left;
  }

  /* line 184, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 187, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 190, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 193, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 196, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 199, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 202, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 205, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 208, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 211, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 214, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 217, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 220, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 223, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 226, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 229, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 232, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 235, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 238, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 241, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 244, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 247, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 250, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 253, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 256, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 259, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 262, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 265, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 268, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 271, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 274, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 277, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 280, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 283, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 286, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 289, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 292, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 295, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 298, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 301, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 304, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 307, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 310, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 313, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 316, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 319, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 322, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 325, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 328, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 331, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 334, grunt/dev/sass/partials/globals/_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 840px) {
  /* line 340, grunt/dev/sass/partials/globals/_grid.scss */
  [class^="col-md-"],
  [class*="col-md-"] {
    float: left;
  }

  /* line 343, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 346, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 349, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 352, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 355, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 358, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 361, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 364, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 367, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 370, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 373, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 376, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 379, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 382, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 385, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 388, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 391, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 394, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 397, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 400, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 403, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 406, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 409, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 412, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 415, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 418, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 421, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 424, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 427, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 430, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 433, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 436, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 439, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 442, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 445, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 448, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 451, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 454, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 457, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 460, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 463, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 466, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 469, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 472, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 475, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 478, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 481, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 484, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 487, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 490, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 493, grunt/dev/sass/partials/globals/_grid.scss */
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
/* line 7, grunt/dev/sass/partials/globals/_images.scss */
.img-half {
  width: 50%;
  height: auto;
  display: block;
}

/* line 15, grunt/dev/sass/partials/globals/_images.scss */
.img-full {
  width: 100%;
  height: auto;
  display: block;
}

/* line 10, grunt/dev/sass/partials/globals/_links.scss */
a {
  text-decoration: none;
  color: #2b78c4;
}
/* line 19, grunt/dev/sass/partials/globals/_links.scss */
a:hover {
  text-decoration: underline;
}
/* line 27, grunt/dev/sass/partials/globals/_links.scss */
a.no-td:hover {
  text-decoration: none;
}
/* line 35, grunt/dev/sass/partials/globals/_links.scss */
a:active {
  text-decoration: underline;
}

/* line 6, grunt/dev/sass/partials/globals/_lists.scss */
ul, ol {
  margin-bottom: 10px;
}
/* line 12, grunt/dev/sass/partials/globals/_lists.scss */
ul.inline-list li, ol.inline-list li {
  display: inline-block;
  margin-right: 10px;
}
/* line 23, grunt/dev/sass/partials/globals/_lists.scss */
ul.stacked-list li, ol.stacked-list li {
  display: block;
  margin-bottom: 10px;
}

/* line 12, grunt/dev/sass/partials/globals/_tables.scss */
table {
  width: 100%;
}
/* line 16, grunt/dev/sass/partials/globals/_tables.scss */
table th, table td {
  border-bottom: 1px solid #c9c9c9;
  padding: 10px;
  width: 25%;
}

/* line 10, grunt/dev/sass/partials/globals/_typography.scss */
html {
  font-size: 100%;
}

/* line 16, grunt/dev/sass/partials/globals/_typography.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 10px;
}

/* line 22, grunt/dev/sass/partials/globals/_typography.scss */
body, input, textarea, select, button, p, a {
  font-size: 16px;
  font-size: 1em;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
}

/* line 29, grunt/dev/sass/partials/globals/_typography.scss */
h1, .h1, .alpha {
  font-size: 48px;
  font-size: 3em;
  line-height: 72px;
}

/* line 35, grunt/dev/sass/partials/globals/_typography.scss */
h2, .h2, .beta {
  font-size: 32px;
  font-size: 2em;
  line-height: 48px;
}

/* line 41, grunt/dev/sass/partials/globals/_typography.scss */
h3, .h3, .gamma {
  font-size: 20px;
  font-size: 1.25em;
  line-height: 30px;
}

/* line 47, grunt/dev/sass/partials/globals/_typography.scss */
h4, .h4, .delta {
  font-size: 18px;
  font-size: 1.125em;
  line-height: 27px;
}

/* line 54, grunt/dev/sass/partials/globals/_typography.scss */
h5, .h5, .epsilon,
h6, .h6, .zeta {
  font-size: 17px;
  font-size: 1.0625em;
  line-height: 25.5px;
}

/* line 60, grunt/dev/sass/partials/globals/_typography.scss */
.mega {
  font-size: 72px;
  font-size: 4.5em;
  line-height: 108px;
}

/* line 67, grunt/dev/sass/partials/globals/_typography.scss */
small,
.tiny {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 21px;
}

/* line 73, grunt/dev/sass/partials/globals/_typography.scss */
strong {
  font-weight: bold;
}

/* line 79, grunt/dev/sass/partials/globals/_typography.scss */
em {
  font-style: italic;
}

/* line 5, grunt/dev/sass/partials/modules/_app-header.scss */
.global-header {
  text-align: center;
}
/* line 9, grunt/dev/sass/partials/modules/_app-header.scss */
.global-header .global-logo {
  color: #222222;
  border-bottom: 4px solid #2b78c4;
  font-size: 50px;
  font-size: 3.125em;
  line-height: 75px;
  font-weight: 700;
}
/* line 16, grunt/dev/sass/partials/modules/_app-header.scss */
.global-header .global-logo:hover {
  text-decoration: none;
}

/* line 7, grunt/dev/views/home/_home.scss */
.filters ul {
  *zoom: 1;
  text-align: center;
}
/* line 38, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.filters ul:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, grunt/dev/views/home/_home.scss */
.filters ul li {
  display: inline-block;
  margin: 0 10px 10px 0;
}
/* line 17, grunt/dev/views/home/_home.scss */
.filters ul li a {
  color: #222222;
  display: block;
  background: #ececec;
  padding: 2px 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 25, grunt/dev/views/home/_home.scss */
.filters ul li a:hover {
  background: #c9c9c9;
  text-decoration: none;
}
/* line 32, grunt/dev/views/home/_home.scss */
.filters ul li a.active {
  background: #2b78c4;
  color: white;
}

/* line 47, grunt/dev/views/home/_home.scss */
.all-recipes {
  background: #ececec;
}
/* line 53, grunt/dev/views/home/_home.scss */
.all-recipes li .padding {
  background: white;
}
/* line 59, grunt/dev/views/home/_home.scss */
.all-recipes li h3 {
  text-align: center;
}

/* line 72, grunt/dev/views/home/_home.scss */
.animate.ng-enter,
.animate.ng-leave,
.animate.ng-move {
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

/* line 76, grunt/dev/views/home/_home.scss */
.animate.ng-enter-stagger,
.animate.ng-leave-stagger {
  transition-delay: .1s;
}

/* line 80, grunt/dev/views/home/_home.scss */
.animate.ng-enter,
.animate.ng-move {
  opacity: 0;
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
  overflow: hidden;
}

/* line 86, grunt/dev/views/home/_home.scss */
.animate.ng-move.ng-move-active,
.animate.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 90, grunt/dev/views/home/_home.scss */
.animate.ng-leave {
  opacity: 1;
  overflow: hidden;
}

/* line 94, grunt/dev/views/home/_home.scss */
.animate.ng-leave.ng-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 103, grunt/dev/views/home/_home.scss */
.svg-wrapper {
  display: block;
  text-align: center;
}

/* line 109, grunt/dev/views/home/_home.scss */
.svg-icon {
  width: 32px;
  height: 32px;
}

/* line 115, grunt/dev/views/home/_home.scss */
.svg-icon-l {
  width: 62px;
  height: 62px;
}

/* line 121, grunt/dev/views/home/_home.scss */
.spinner {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes spin {
  /* line 153, grunt/dev/views/home/_home.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 154, grunt/dev/views/home/_home.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  /* line 153, grunt/dev/views/home/_home.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 154, grunt/dev/views/home/_home.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  /* line 153, grunt/dev/views/home/_home.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 154, grunt/dev/views/home/_home.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  /* line 153, grunt/dev/views/home/_home.scss */
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 154, grunt/dev/views/home/_home.scss */
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  /* line 160, grunt/dev/views/home/_home.scss */
  0% {
    margin-bottom: -4px;
  }

  /* line 161, grunt/dev/views/home/_home.scss */
  25%, 75% {
    margin-bottom: -8px;
  }

  /* line 162, grunt/dev/views/home/_home.scss */
  50% {
    margin-bottom: -12px;
  }

  /* line 163, grunt/dev/views/home/_home.scss */
  100% {
    margin-bottom: 0;
  }
}

@-moz-keyframes bounce {
  /* line 160, grunt/dev/views/home/_home.scss */
  0% {
    margin-bottom: -4px;
  }

  /* line 161, grunt/dev/views/home/_home.scss */
  25%, 75% {
    margin-bottom: -8px;
  }

  /* line 162, grunt/dev/views/home/_home.scss */
  50% {
    margin-bottom: -12px;
  }

  /* line 163, grunt/dev/views/home/_home.scss */
  100% {
    margin-bottom: 0;
  }
}

@-o-keyframes bounce {
  /* line 160, grunt/dev/views/home/_home.scss */
  0% {
    margin-bottom: -4px;
  }

  /* line 161, grunt/dev/views/home/_home.scss */
  25%, 75% {
    margin-bottom: -8px;
  }

  /* line 162, grunt/dev/views/home/_home.scss */
  50% {
    margin-bottom: -12px;
  }

  /* line 163, grunt/dev/views/home/_home.scss */
  100% {
    margin-bottom: 0;
  }
}

@keyframes bounce {
  /* line 160, grunt/dev/views/home/_home.scss */
  0% {
    margin-bottom: -4px;
  }

  /* line 161, grunt/dev/views/home/_home.scss */
  25%, 75% {
    margin-bottom: -8px;
  }

  /* line 162, grunt/dev/views/home/_home.scss */
  50% {
    margin-bottom: -12px;
  }

  /* line 163, grunt/dev/views/home/_home.scss */
  100% {
    margin-bottom: 0;
  }
}

/* line 3, grunt/dev/views/article/_article.scss */
.single-recipe {
  background: #c9c9c9;
}

/* line 6, grunt/dev/sass/misc/_helpers.scss */
.block {
  display: block;
}

/* line 12, grunt/dev/sass/misc/_helpers.scss */
.inline {
  display: inline-block;
}

/* line 18, grunt/dev/sass/misc/_helpers.scss */
.pull-left {
  float: left;
}

/* line 24, grunt/dev/sass/misc/_helpers.scss */
.pull-right {
  float: right;
}

/* line 30, grunt/dev/sass/misc/_helpers.scss */
.text-center {
  text-align: center;
}

/* line 36, grunt/dev/sass/misc/_helpers.scss */
.text-right {
  text-align: right;
}

/* line 42, grunt/dev/sass/misc/_helpers.scss */
.browsehappy {
  color: white;
  background: red;
  width: 100%;
  text-align: center;
}

/* line 51, grunt/dev/sass/misc/_helpers.scss */
.mb {
  margin-bottom: 10px;
  display: block;
}

/* line 58, grunt/dev/sass/misc/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 64, grunt/dev/sass/misc/_helpers.scss */
.skip-link {
  visibility: hidden;
  position: absolute;
  left: -999999px;
  top: -99999px;
}
/* line 71, grunt/dev/sass/misc/_helpers.scss */
.skip-link:focus {
  position: static;
  visibility: visible;
}

/* line 80, grunt/dev/sass/misc/_helpers.scss */
.padding {
  padding: 20px;
}

@media print {
  /* line 13, grunt/dev/sass/misc/_print.scss */
  *,
  *:before,
  *:after {
    color: #000;
    text-shadow: none;
    box-shadow: none;
    background: transparent;
  }

  /* line 22, grunt/dev/sass/misc/_print.scss */
  a {
    text-decoration: underline;
  }
  /* line 27, grunt/dev/sass/misc/_print.scss */
  a:visited {
    text-decoration: underline;
  }
  /* line 35, grunt/dev/sass/misc/_print.scss */
  a[href]:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }
  /* line 50, grunt/dev/sass/misc/_print.scss */
  a[href^="#"]:after, a[href*="#"]:after, a[href^="javascript:;"]:after, a[href*="javascript:;"]:after {
    content: '';
  }

  /* line 60, grunt/dev/sass/misc/_print.scss */
  input[type="submit"] {
    display: none;
  }

  /* line 78, grunt/dev/sass/misc/_print.scss */
  footer {
    display: none;
  }
}
