
// ============================================================
// TYPOGRAPHY 
// ============================================================
// For font face imports, see font-face mixin


@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);

html {

	  font-size: 100%;

}

h1, h2, h3, h4, h5, h6, p {

	  margin-bottom: $baseline/2;

}

body, input, textarea, select, button, p, a {

    @include font(16);
    font-family: 'Lato', sans-serif;

}

h1, .h1, .alpha {

    @include font(48);

}

h2, .h2, .beta {

    @include font(32);

}

h3, .h3, .gamma {

    @include font(20);

}

h4, .h4, .delta {

    @include font(18);

}

h5, .h5, .epsilon, 
h6, .h6, .zeta {

   @include font(17);

}

.mega {

	  @include font(72);

}

small,
.tiny {

    @include font(14);

}

strong {

    font-weight: bold;

}

em {

    font-style: italic;

}


// ============================================================